<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TargCCOrders.Controller" value="Localhost~TargCCOrdersNew~500"/>
    <add key="LogLocation" value="C:\Logs\Apps"/>
    <add key="TargCCOrders.IsForgiving" value="True"/>
    <add key="TargCCOrders.GarbageCreation" value="False"/>
    <add key="TargCCOrders.IsAuthenticationDoneOnExternalSystem" value="False"/>
    <add key="TargCCOrders.CacheOn" value="True"/>
    <add key="TargCCOrders.CacheKeepAliveMin" value="60"/>
    <add key="TargCCOrders.CacheSingleLanguageOnly" value=""/>
    <add key="TargCCOrders.UsersToShowEnglishAlso" value=""/>
    <add key="TargCCOrders.SMTPServer" value=""/>
    <add key="TargCCOrders.ProblemMailTo" value=""/>
    <add key="TargCCOrders.SMTPNameFrom" value=""/>
    <add key="TargCCOrders.SMTPEmailFrom" value=""/>
    <add key="TargCCOrders.SMTPDefaultNameReplyTo" value=""/>
    <add key="TargCCOrders.SMTPDefaultEmailReplyTo" value=""/>
    <add key="TargCCOrders.SMTPEnableSSL" value="False"/>
    <add key="TargCCOrders.SMTPUserName" value=""/>
    <add key="TargCCOrders.SMTPPassword" value=""/>
    <add key="TargCCOrders.SMTPPort" value="25"/>
    <add key="TargCCOrders.ServerNameForMail" value=""/>
    <add key="TargCCOrders.ccAPICompressionMode" value="None"/>
    <add key="TargCCOrders.DownloadFileURL" value=""/>
    <add key="TargCCOrders.UploadFileURL" value=""/>
    <add key="TargCCOrders.UploadFileUserName" value=""/>
    <add key="TargCCOrders.UploadFilePwd" value=""/>
    <add key="TargCCOrders.UploadedFilesRootFolder" value=""/>
    <add key="TargCCOrders.XMLDataLocation" value=""/>
    <add key="TargCCOrders.InTestMode" value="False"/>
    <add key="TargCCOrders.LogDetails" value="False"/>
    <add key="TargCCOrders.SMSUrl" value=""/>
    <add key="TargCCOrders.SMSUserName" value=""/>
    <add key="TargCCOrders.SMSPassword" value=""/>
    <add key="TargCCOrders.ServerApplicationRoot" value=""/>
    <add key="TargCCOrders.ServerRequiresSSL" value="False"/>
  </appSettings>
</configuration>
