<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TargCCOrders.TaskManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TargCCOrders.TaskManager.My.MySettings>
            <setting name="JobRunner" serializeAs="String">
                <value />
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelayOnStartUpSec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsOneOfACouple" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteToEventLog" serializeAs="String">
                <value>False</value>
            </setting>
        </TargCCOrders.TaskManager.My.MySettings>
    </userSettings>
	<appSettings>
		<add key="TargCCOrders.Controller" value="Localhost~TargCCOrdersNew~500~~"/>
		<add key="LogLocation" value="C:\Logs\Apps"/>
	</appSettings>
</configuration>