<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TargCCOrders.DataController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TargCCOrders.DataController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="LogLocation" value="C:\Logs\Apps"/>
		<add key="TargCCOrders.ServerApplicationRoot" value="localhost:44319"/>
		<add key="TargCCOrders.ServerRequiresSSL" value="False"/>
		<!-- Can be either 'IIS', 'DeflateTargCC', 'GzipTargCC' or 'None' -->
		<add key="TargCCOrders.ccAPICompressionMode" value="DeflateTargCC"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<TargCCOrders.DataController.My.MySettings>
			<setting name="DefaultUserFileLocation" serializeAs="String">
				<value />
			</setting>
			<setting name="Culture" serializeAs="String">
				<value>en-US</value>
			</setting>
			<setting name="WindowMaximized" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="WindowLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="WindowsSize" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="Language" serializeAs="String">
				<value>en</value>
			</setting>
			<setting name="GridInfo" serializeAs="String">
				<value />
			</setting>
			<setting name="SplitterLocation" serializeAs="String">
				<value>137</value>
			</setting>
			<setting name="FontSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="LocalizedTextLanguage" serializeAs="String">
				<value>UD</value>
			</setting>
		</TargCCOrders.DataController.My.MySettings>
	</userSettings>
	<applicationSettings>
		<TargCCOrders.DataController.My.MySettings>
			<setting name="IsLocalized" serializeAs="String">
				<value>False</value>
			</setting>
		</TargCCOrders.DataController.My.MySettings>
	</applicationSettings>
</configuration>