body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.logo {
    float: left;
    margin-right: 20px;
}

.title {
    float: right;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

/* Example styles for the container */
.header-container {
    margin: auto;
    width: 60%;
    /*border: 3px solid green;*/
    padding: 0px;
}

.login-container {
    margin: auto;
    width: 40%;
    /*border: 3px solid green;*/
    padding: 10px;
    background-color: white;
}

.form-header {
    font-size: 40px;
    padding: 15px;
    background-color: white;
    font-weight: bold;
    color: black;
}

.form-control {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
}

.form-error {
    color: red;
    font-weight: bold;
}

.form-success {
    color: green;
    font-weight: bold;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .btn-login:hover {
        background-color: gray;
    }
