<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--
  DB Controller settings are all in appSettings.
  appSettings is a child of Configuration

  See tips about 'Connecting to a Service' below (search on it)
  -->
  
  <appSettings file="app.user.config">
    <!--
    If you want to use a user file, then create app.user.config (or web.user.config) and add overrides as needed (sample below)
    * Make sure you set it's properties to 'CopyAlways'
    * ensure that it is excluded from source control
    <?xml version="1.0" encoding="utf-8"?>
    <appSettings>
        <add key="TargCCOrders.Controller" value="localhost~VargusGenDev~500~~"/>
    </appSettings>
    -->
    <!-- 
        Put any keys that may change in the config file. If there are values that will never change, put  
          them in the put them in the ConfigForNoAppConfig file (see templates) 
    -->
    <!--  
        LogLocation is required for Fault logging. To use it type in the folder name or 'local' or ''.  
          If you want it to write in the user's 'MyDocuments', type in 'Local'  
          If you want it to write in the user's 'CurrentUserApplicationData', type leave value blank  
          Make sure Logs folder can be written to by all users - otherwise it  
          causes problems if started by one person and continued by next.  
    -->
    <add key="LogLocation" value="C:\Logs\Apps"/>
    <!--  
        LogDetails logs every call to the database and many other calls as well, to different text files
          Use in development environments to check performance
    -->
    <add key="TargCCOrders.LogDetails" value="True"/>
    <add key="TargCCOrders.InTestMode" value="True"/>

    <!--    
        <add key="TargCCOrders.Controller" value="DBServer~DBName~MaxPoolSize~UserName~Password"/>  
  
        Use an empty string to represent the default MaxPoolSize, UserName or Password. For example,     
        "DBServer~DBName~~~" will use the default values for UserName and Password in DBController's code.      
          
        If you want to use Integrated Security, send only the server name and database name. For example,    
        "DBServer~DBName" (without the 3 tildes)   
        If you want to use Integrated Security with a larger connection pool size (the default is 100), send only the server name and database name and the Max Pool Size. For example,    
        "DBServer~DBName~500" (without the 2 tildes)   
        If you want to use SQL Server Security with a larger connection pool size (the default is 100), send the pertinent data. For example,    
        "DBServer~DBName~500~User~Password" 
        If you want to use SQL Server Security with the default connection pool size, send the pertinent data. For example,    
        "DBServer~DBName~~User~Password" or 
        "DBServer~DBName~User~Password" (if the value in the MaxPoolSize placeholder is not numeric, we can assume it's the UserName 
 
        1. Assign the user to a Database role membership of 'public'   
        2. Run the following  
           USE TargCCOrdersNew  
           GO  
           GRANT EXECUTE TO TargCCOrders /* or appropriate UserName */  
           GO  
           GRANT BACKUP DATABASE TO TargCCOrders /* or appropriate UserName */  
           GO  
          
        If the database is LocalDB (SQL 2014 and above), then set the DBServer value to LocalDB, followed by the location of the   
          mdf and ldf files (they must be together) to 'LocalDB;DBLocation'. For example: "LocalDB;C:\MyFiles~TargCCOrdersNew"  
        The mdf file must be named TargCCOrdersNew.mdf  
        Although SQL Server Users are supported, we recommend you use Integrated Security to avoid user assignment problems 
        If the LocalDB database will be accessed by more than 1 Windows User, then create a shared instance by putting the  
          instance name after the LocalDB, with a forward slash. For example: "LocalDB\MySharedInstance;C:\MyFiles~TargCCOrdersNew~200~~"   
        In this case, it is preferable to use SQL Logins.    
          
        If the database is an XML file, the value should be 'XML;FileSystemDatabase'    
        If the database is multiple XML files, the value should be 'XML;FileSystemTables',   
        If you run 'FileSystemTables' on a single Database file, then it will break it down to specific tables on 1st run  
 
        In both cases, suffix it with ReadOnly if you don't need to write anything, such as Login ID's and logs.   
          This makes it run much faster   
        The file locations are defined in 'XMLDataLocation'  
        If you want to use Binary files rather than XML, then prefix the Controller with Binary rather than XML  
          eg: 'Binary;FileSystemDatabase'  
 
        If you want detailed logging of database access, prefix the Controller with 'L:' (case insensitive) 
    -->
    <add key="TargCCOrders.Controller" value="Localhost~TargCCOrdersNew~500~~"/>

    <!-- If IsForgiving=true, then it will retry most failed SQL queries again after a 2 second delay -->
    <add key="TargCCOrders.IsForgiving" value="true"/>

    <!-- This is where the app will store or read the XML database if told to create one or read from one. If 'local' is used, then it will use bin\data -->
    <add key="TargCCOrders.XMLDataLocation" value="local"/>

    <!-- This is where the app will store or load pictures. If 'local' is used, then it will use the in bin\images -->
    <add key="TargCCOrders.UploadedFilesRootFolder" value="local"/>

    <!-- Use these to maintain the cache -->
    <add key="TargCCOrders.CacheOn" value="True" />
    <add key="TargCCOrders.CacheKeepAliveMin" value="2" />
    <add key="TargCCOrders.CacheSingleLanguageOnly" value="False" />

    <!--   
        Failed Mail is sent when we can't reach the database and something terrible has occurred  
        If DBController is used in a client program with no SMTP server, then leave value blank ("")  
    -->
    <add key="TargCCOrders.ProblemMailTo" value="TheEmailOfThePerson" />

    <!-- SMTP server details. If there is no SMTP server, ensure that ProblemMailTo (above) is blank ("")  -->
    <add key="TargCCOrders.EmailFrom" value="admin@TargCCOrders.co.il" />
    <add key="TargCCOrders.NameFrom" value="TargCCOrders on Visual Studio" />
    <add key="TargCCOrders.SMTPServer" value="SMTPServerName" />
    <add key="TargCCOrders.SMTPUserName" value="" />
    <add key="TargCCOrders.SMTPPassword" value="" />
    <add key="TargCCOrders.SMTPEnableSSL" value=""/>
    <!--If you don't want the computer name used in the last line (with the time) then provide a key for ServerNameForMail-->
    <add key="TargCCOrders.ServerNameForMail" value=""/>

    <!-- If DBController Web API (WS project), define compression. Can be either 'IIS', 'DeflateTargCC', 'GzipTargCC' or 'None' -->
    <add key="TargCCOrders.ccAPICompressionMode" value="DeflateTargCC"/>
    <!-- For uploading files -->
    <add key="TargCCOrders.UploadFileURL" value="http://xxxyyyzzz/TargCCOrdersWS/CC/FileUpload.aspx" />
    <!-- For downloading files -->
    <add key="TargCCOrders.DownloadFileURL" value="https://xxxyyyzzz/TargCCOrdersWS/" />
    <add key="TargCCOrders.ApplicationName" value="yyyyy" />
    <add key="TargCCOrders.ApplicationPwd" value="xxxxx" />

  </appSettings>
  <!--  
  If DBController is being consumed by a Web Application or a Web Service then (in <system.web>): 
    If you want to access SQL Server using the Application Pool's user , then use: 
      <authentication mode="Windows"/> 
    If you want to use the user passed by the credentials, then use: 
      <authentication mode="Windows"/> 
      <identity impersonate="true"/> 
    otherwise, leave the default. 
    If you want to extend the time the server app waits for execution more than the default 110 sec, then use executionTimeout. 
    If you want to upload more than the standard 4096 KB data, then increase the maxRequestLength:  
      <httpRuntime executionTimeout="110" maxRequestLength="4096" /> 
    Don't forget to set debug=false in the production environment, and the targetFramework 
      <compilation debug="true" strict="true" explicit="true" targetFramework="4.5.2" /> 
    If DBController is being used in a Web Service (.asmx page) then add:   
      <webServices> 
        <protocols> 
          <add name="HttpGet"/> 
          <add name="HttpPost"/> 
        </protocols> 
      </webServices> 
    If you want to upload more than the standard 30 MB data, then increase the maxAllowedContentLength (this is on its own - not under <system.web>):  
      <system.webServer> 
        <security> 
          <requestFiltering> 
            <requestLimits maxAllowedContentLength="41943040" /> 
          </requestFiltering> 
        </security> 
      </system.webServer> 
  -->

  <!-- Continuation -->

<!--

Partial Public Class MyController 
 
  'Use: 
  'If you are using values from App.Config, then you do not need to create this file 
  ' 
  'If you create this file, then you can also put additional parameters in an external ini file (TargCCOrders.ini): 
  ' - put any values that can be compiled in this file. 
  ' - put any other values in the ini file called TargCCOrders.ini in the same folder as the dll 
  ' 
  ' The parameters will be used in this order: 
  '  - if an AppSetting section exists in the App.config then it will use it.  
  '  - if not, then if setting is defined in the ini file, it will use it   
  '  - if not, it will use what's in the ConfigForNoAppConfig  
 
  Shared Sub New() 
    _ConfigForNoAppConfig = New Dictionary(Of String, String) 
 
    ' LogLocation is required for Fault logging. To use it type in the folder name or local or ''.  
    '   Make sure Logs folder can be written to by all users - otherwise it  
    '   causes problems if started by one person and continued by next.  
    '   If you want it to write in the user's 'MyDocuments', type in 'Local'  
    Dim pIniFileExists As Boolean = False 
    If IO.File.Exists(My.Application.Info.DirectoryPath & "\TargCCOrders.ini") = True Then 
      pIniFileExists = True 
      Dim pInis As String = "" 
 
      Dim pFileReader As IO.StreamReader = My.Computer.FileSystem.OpenTextFileReader(My.Application.Info.DirectoryPath & "\TargCCOrders.ini") 
      While Not pFileReader.EndOfStream 
        Dim p As String = pFileReader.ReadLine() 
        p = p.Trim 
        If p.Length = 0 Then Continue While 
        If p.StartsWith(";") = True Then Continue While 
        If p.StartsWith("[") = True Then Continue While 
        If p.StartsWith("'") = True Then Continue While 
        If p.IndexOf("=") = -1 Then Continue While 
        Try 
          Dim pKey As String = p.Substring(0, p.IndexOf("=")).Trim 
          Dim pValue As String = p.Substring(p.IndexOf("=") + 1).Trim 'Can't use split, because the value could contain an '=' 
          _ConfigForNoAppConfig.Add(pKey, pValue) 
        Catch ex As Exception 
          Continue While 
        End Try 
      End While 
    End If 
 
    'Log Location 
    'If _ConfigForNoAppConfig.ContainsKey("LogLocation") = False Then _ConfigForNoAppConfig.Add("LogLocation", "local") 
    'Tools.LogToTextFile.SetLogLocation(_ConfigForNoAppConfig("LogLocation")) 
 
    ' This is where the app will store or load pictures. If 'local' is used, then it will use the in bin\images. If DBController is used in WS, then it will be stored in images  
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.UploadedFilesRootFolder") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.UploadedFilesRootFolder", "local") 
    
    'The rules for the string are the same as for the normal app.config 
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.Controller") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.Controller", "DBServer~DBName~100~UserName~Password") 
 
    ' If IsForgiving=true, then it will retry most failed SQL queries again after a 2 second delay  
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.IsForgiving") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.IsForgiving", "true") 
 
    ' This is where the app will store or read the XML database if told to create one or read from one. If 'local' is used, then it will use bin\data  
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.XMLDataLocation") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.XMLDataLocation", "local") 
 
    ' Use these to maintain the cache  
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.CacheOn") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.CacheOn", "True") 
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.CacheKeepAliveMin") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.CacheKeepAliveMin", "2") 
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.CacheSingleLanguageOnly") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.CacheSingleLanguageOnly", "False") 
 
    ' Failed Mail is sent when we can't reach the database and something terrible has occurred  
    ' If DBController is used in a client program with no SMTP server, then enter ''  
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.ProblemMailTo") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.ProblemMailTo", "TheEmailOfThePerson") 
 
    ' SMTP Server to be used for Mail 
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.SMTPServer") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.SMTPServer", "SMTPServerName") 
    ' Default AdministratorEmail to be used for Mail (eg, admin@TargCCOrders.co.il) 
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.AdministratorEmail") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.AdministratorEmail", "admin@TargCCOrders.co.il") 
    ' The default Pretty Name Of The Administrator to be used for Mail (eg, TargCCOrders on Visual Studio) 
    'If _ConfigForNoAppConfig.ContainsKey("TargCCOrders.AdministratorPrettyName") = False Then _ConfigForNoAppConfig.Add("TargCCOrders.AdministratorPrettyName", "TargCCOrders on Visual Studio") 
    'Tools.Mailer.SetMailConfig(_ConfigForNoAppConfig("TargCCOrders.AdministratorEmail"), _ConfigForNoAppConfig("TargCCOrders.AdministratorPrettyName"), _ConfigForNoAppConfig("TargCCOrders.SMTPServer"), "", "") 
 
 
    'TargCCOrders.ini Sample contents - remove the initial comment (''') and put in an ini file in the same location as the dll 
    '  Put the ini file in the DBController project 
    '  Set the build action to 'content'  and use 'Copy Always'
    '============================================================================================================================================= 
 
    ';Any line starting with a ', [, or ; will be ignored  
    ' 
    ' 
    ';LogLocation is required for Fault logging. To use it type in the folder name or local.   
    ';  Make sure Logs folder can be written to by all users - otherwise it   
    ';  causes problems if started by one person and continued by next.   
    ';  If you want it to write in the user's 'MyDocuments', type in 'Local'   
    'LogLocation = local 
    ' 
    ';This is where the app will store or load pictures. If 'local' is used, then it will use the in bin\images. If DBController is used by WS, then it will use images   
    'TargCCOrders.UploadedFilesRootFolder = local 
    ' 
    ';The rules for the string are the same as for the normal app.config  
    'TargCCOrders.Controller = DBServer~DBName~UserName~Password 
    ' 
    ';If IsForgiving=true, then it will retry most failed SQL queries again after a 2 second delay   
    'TargCCOrders.IsForgiving = true 
    ' 
    ';This is where the app will store or read the XML database if told to create one or read from one. If 'local' is used, then it will use bin\data   
    'TargCCOrders.XMLDataLocation = local 
    ' 
    ';Use these to maintain the cache   
    'TargCCOrders.CacheOn = True 
    'TargCCOrders.CacheKeepAliveMin = 1440 
    'TargCCOrders.CacheSingleLanguageOnly = False 
    ' 
    ';Failed Mail is sent when we can't reach the database and something terrible has occurred   
    ';If DBController is used in a client program with no SMTP server, then enter ''   
    'TargCCOrders.FailedMailTo = admin@admin.co.il 
    ' 
    ';SMTP Server to be used for Mail 
    'TargCCOrders.SMTPServer = SMTPServerName 
    ' 
    ';Default AdministratorEmail to be used for Mail (eg, johnd@company.co.il) 
    'TargCCOrders.AdministratorEmail = sample@sample.com 
    ' 
    ';The default Pretty Name Of The Administrator to be used for Mail (eg, John Doe) 
    'TargCCOrders.AdministratorPrettyName = John Doe 
    '============================================================================================================================================= 
 
  End Sub 
 
End Class 
 
-->

<!--
Connecting to a Service
=======================
 - Use maxReceivedMessageSize if the default is not sufficient
 
-->

  <!--setup for localhost -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="_TutorialSoap" maxReceivedMessageSize="999999" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54224/_Tutorial.asmx" binding="basicHttpBinding"
          bindingConfiguration="_TutorialSoap" contract="SR._TutorialSoap"
          name="_TutorialSoap" />
    </client>
  </system.serviceModel>


</configuration>
