<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--
  DB Controller settings are all in appSettings.
  appSettings is a child of Configuration

  See tips about 'Connecting to a Service' at bottom of _TutorialDBControllerConfig.config (search on it)
  -->
  
  <appSettings> 
    <!--  
        LogLocation is required for Fault logging. To use it type in the folder name or 'local'.  
          If you want it to write in the user's 'MyDocuments', type in 'Local'  
    --> 
    <add key="LogLocation" value="C:\Logs\Apps"/>
    <add key="TargCCOrders.LogDetails" value="True"/> 
    <add key="TargCCOrders.InTestMode" value="True"/>
     
    <!--  
        This defines the connection to the server (not that subsite is not required. the application can be in the root) 
        To activate failover, put more than one site, delimited with a ';'. All sites should use the same SQL Server 
    -->  
    <add key="TargCCOrders.ServerApplicationRoot" value="Site1/SubSite1;Site2/SubSite2"/> 
    <add key="TargCCOrders.ServerRequiresSSL" value="False"/> 
    <!-- Can be either 'IIS', 'DeflateTargCC', 'GzipTargCC' or 'None' --> 
    <add key="TargCCOrders.ccAPICompressionMode" value="DeflateTargCC"/> 
     
    <!-- This is where the app will store or load pictures. If 'local' is used, then it will use the in bin\images --> 
    <add key="TargCCOrders.UploadedFilesRootFolder" value="local"/> 
     
    <!-- Use these to maintain the cache --> 
    <add key="TargCCOrders.CacheOn" value="True" /> 
    <add key="TargCCOrders.CacheKeepAliveMin" value="5" /> 
    <add key="TargCCOrders.CacheSingleLanguageOnly" value="True" /> 
     
    <!--   
        In the case of SSL, use for 'home-made certificates', issued by a CA on your company server (blank for none i.e.,  
        commercially issued certificate)  
        If self-signed certificate is allowed (issued by the web server), suffix it with #y, otherwise suffix it with #n 
        If failover is activated, add additional values, to match the sites in 'ServerApplicationRoot', using ';' as a delimiter  
        If not blank, then the key-value pair can be encrypted using the ControllerEncryptor (i.e. it can be either encypted or not)  
    --> 
    <add key="TargCCOrders.Issuer" value="Issuing CA1 (CN)#n;Issuing CA2 (CN)#n"/> 
     
    <!-- For uploading files -->
    <add key="TargCCOrders.UploadFileURL" value="http://xxxyyyzzz/TargCCOrdersWS/CC/FileUpload.aspx" />
    <!-- For downloading files -->
    <add key="TargCCOrders.DownloadFileURL" value="https://xxxyyyzzz/TargCCOrdersWS/" />
    <add key="TargCCOrders.ApplicationName" value="yyyyy" />
    <add key="TargCCOrders.ApplicationPwd" value="xxxxx" />

    <!-- Used by TargSolMan --> 
    <add key="DeploymentServer" value=""/> 
  </appSettings> 


  <!-- Continuation -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
